.buttonsContainer{
    display: flex;
    
    flex-wrap: wrap;
    width:70%;
    
    justify-content: space-around;
    
}
.buttons{
    width:55px;
    height:55px;
    font-size: 30px;
    margin:15px;
}